<!DOCTYPE html>
<html ng-app="mdWebApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Moral Decay - Sunstrider</title>
    @Styles.Render("~/bundles/core/css")
    @Scripts.Render("~/bundles/core/js/header")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400" rel="stylesheet" type="text/css">
</head>
<body ng-controller="bodyCtrl">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Moral Decay", "Index", "Frontpage", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="main-content">
            <div id="left-side-menu" >
                <ul id="left-nav-menu" ng-cloak>
                    <li ng-repeat="menuItem in leftNavMenuItems">
                        <a href="{{menuItem.href}}">
                            <span>{{menuItem.text}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="renderbody">
                @RenderBody()
            </div>
        </div>
        <footer>
            <p>Moral Decay - Sunstrider</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/core/js/footer")
    @RenderSection("Scripts", required: false)
</body>
</html>