<!DOCTYPE html>
<html ng-app="mdWebApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Moral Decay - Sunstrider</title>
    @Styles.Render("~/bundles/core/css")
    @Scripts.Render("~/bundles/core/js/header")
</head>
<body ng-cloak ng-controller="bodyCtrl">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Moral Decay", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content row">
        <div class="main-content">
            <ul class="col-md-3" id="left-nav-menu">
                <li ng-repeat="menuItem in leftNavMenuItems">
                    <a href="{{menuItem.href}}">
                        <span>{{menuItem.text}}</span>
                    </a>
                </li>
            </ul>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
        <footer class="col-md-12">
            <p>Moral Decay - Sunstrider</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/core/js/footer")
    @RenderSection("Scripts", required: false)
</body>
</html>